# Scenario
Calculate the Beta for Meta, Apple, Amazon, Netflix, and Alphabet for the calendar year 2020.

<b> Beta: </b> Covariance / Variance

<b> Covariance:</b> Stock’s return relative to market's return. <br> 
<b> Variance: </b>How stock moves in relation to market

# Libraries

In [1]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt

# Process Data

In [34]:
close = pd.DataFrame()
returns = pd.DataFrame()

tickers = ['META','AAPL','AMZN','NFLX','GOOG']
start = dt.datetime(2019, 12, 30)
end = dt.datetime(2021, 1, 4)

for symbol in tickers:
    tmp_df = data.DataReader(symbol,'yahoo',start,end)
    tmp_df['Symbol']  = symbol 
    tmp_df['returns'] = 1 + (tmp_df['Adj Close']-tmp_df['Adj Close'].shift(-1))/tmp_df['Adj Close'].shift(-1)  
    close   = pd.concat([close,tmp_df[['Adj Close']].rename(columns = {'Adj Close':symbol})], axis = 1)
    returns = pd.concat([returns,tmp_df[['returns']].rename(columns = {'returns':symbol})], axis = 1)

close   = close[2:-1]
returns = returns[2:-1]
    
display(close)
display(returns)

                  META        AAPL        AMZN        NFLX       GOOG
Date
2020-01-02  209.779999   73.683571   94.900497  329.809998  68.368500
2020-01-03  208.669998   72.967224   93.748497  325.899994  68.032997
2020-01-06  212.600006   73.548622   95.143997  335.829987  69.710503
2020-01-07  213.059998   73.202736   95.343002  330.750000  69.667000
2020-01-08  215.220001   74.380287   94.598503  339.260010  70.216003
...                ...         ...         ...         ...        ...
2020-12-24  267.399994  130.620911  158.634506  513.969971  86.942497
2020-12-28  277.000000  135.292679  164.197998  519.119995  88.804497
2020-12-29  276.779999  133.491241  166.100006  530.869995  87.935997
2020-12-30  271.869995  132.353012  164.292496  524.590027  86.975998
2020-12-31  273.160004  131.333557  162.846497  540.729980  87.594002

[253 rows x 5 columns]

                META      AAPL      AMZN      NFLX      GOOG
Date
2020-01-02  1.005319  1.009817  1.012288  1.011998  1.004931
2020-01-03  0.981515  0.992095  0.985333  0.970431  0.975936
2020-01-06  0.997841  1.004725  0.997913  1.015359  1.000624
2020-01-07  0.989964  0.984169  1.007870  0.974916  0.992181
2020-01-08  0.985891  0.979201  0.995224  1.010725  0.989076
...              ...       ...       ...       ...       ...
2020-12-24  0.965343  0.965469  0.966117  0.990079  0.979033
2020-12-28  1.000795  1.013495  0.988549  0.977867  1.009876
2020-12-29  1.018060  1.008600  1.011002  1.011971  1.011038
2020-12-30  0.995277  1.007762  1.008880  0.970152  0.992945
2020-12-31  1.015691  1.025346  1.022061  1.034177  1.013679

[253 rows x 5 columns]

# Calculate Beta

Correlation Matrix

In [19]:
correlation_matrix = df.corr()
display(correlation_matrix)

          META      AAPL      AMZN      NFLX      GOOG
META  1.000000  0.776499  0.689110  0.595254  0.810791
AAPL  0.776499  1.000000  0.708864  0.584445  0.765456
AMZN  0.689110  0.708864  1.000000  0.690023  0.687627
NFLX  0.595254  0.584445  0.690023  1.000000  0.546265
GOOG  0.810791  0.765456  0.687627  0.546265  1.000000

Co-Variance Matrix

In [21]:
covariance_matrix = df.cov()
display(covariance_matrix)

          META      AAPL      AMZN      NFLX      GOOG
META  0.000853  0.000670  0.000486  0.000508  0.000576
AAPL  0.000670  0.000872  0.000506  0.000505  0.000550
AMZN  0.000486  0.000506  0.000584  0.000487  0.000404
NFLX  0.000508  0.000505  0.000487  0.000854  0.000388
GOOG  0.000576  0.000550  0.000404  0.000388  0.000591

Annualizing the Covariance Matrix

In [28]:
covariance_matrix_annualized = covariance_matrix * len(df) 

covariance_matrix_annualized

          META      AAPL      AMZN      NFLX      GOOG
META  0.215868  0.169486  0.123067  0.128576  0.145724
AAPL  0.169486  0.220698  0.128003  0.127646  0.139107
AMZN  0.123067  0.128003  0.147747  0.123306  0.102245
NFLX  0.128576  0.127646  0.123306  0.216136  0.098242
GOOG  0.145724  0.139107  0.102245  0.098242  0.149644

Portfolio Weights

In [30]:
portfolio_weights = df.to_numpy()
portfolio_weights

array([[1.00531941, 1.00981748, 1.0122882 , 1.01199756, 1.00493147],
       [0.98151454, 0.99209464, 0.98533276, 0.97043149, 0.97593612],
       [0.99784102, 1.00472536, 0.99791275, 1.01535899, 1.00062444],
       ...,
       [1.01806012, 1.00860007, 1.01100178, 1.01197119, 1.01103752],
       [0.99527746, 1.00776245, 1.00887952, 0.97015155, 0.99294468],
       [1.01569124, 1.02534573, 1.02206092, 1.0341774 , 1.01367865]])

Dot Product

In [6]:
import numpy as np
composition = [0.2,0.2,0.2,0.2,0.2]
index_volitility = np.sqrt(np.dot(composition.T, np.dot(covariance_matrix, composition)))

AttributeError: 'list' object has no attribute 'T'